:root {
    --bg-auth: #f0f2f5;
    --card-bg: #ffffff;
    --accent: #0084ff;
    --text-main: #1c1e21;
}

body.auth-page {
    background-color: var(--bg-auth);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-card {
    background: var(--card-bg);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-card h2 {
    margin-bottom: 10px;
    color: var(--text-main);
}

.auth-card p {
    color: #606770;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type='tel'] {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}

.auth-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.auth-link {
    display: block;
    margin-top: 15px;
    color: var(--accent);
    text-decoration: none;
    font-size: 14px;
}

.auth-link:hover {
    text-decoration: underline;
}

#login-error,
#token-error,
#reset-error,
.form-group .form-errors {
    color: rgb(231, 15, 15)
}